<a href="https://colab.research.google.com/github/Ankitsingh202/Credit-Card-Fraud-Detection-/blob/main/Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# importing dependency

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
##loading datasets to a pandas dataframe
credit_card_data = pd.read.csv('/content/creditcard.csv')

AttributeError: ignored

In [4]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [6]:
##loading datasets to a pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [7]:
credit_card_data = pd.read_csv('/content/creditcard.csv', error_bad_lines=False)

<ipython-input-7-fd0b44ce5288>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  credit_card_data = pd.read_csv('/content/creditcard.csv', error_bad_lines=False)

In [8]:
#first 5 row of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [9]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23853,32953,1.296815,-0.518508,0.348800,0.129750,-0.845934,-0.283287,-0.463165,-0.007344,-0.530097,...,-0.498652,-0.791893,0.058456,0.067753,0.367979,0.400899,0.005089,0.008846,14.00,0.0
23854,32954,1.295646,-0.699613,-1.129649,-2.505043,1.428275,3.010605,-0.892932,0.798386,1.309837,...,0.071540,0.120545,-0.144172,1.066577,0.615628,0.123208,0.013875,0.018547,37.07,0.0
23855,32954,-1.691394,-1.452403,1.671861,-1.769590,1.636843,-0.943701,0.193116,-0.712756,-0.987725,...,0.047745,0.539167,-0.698010,-0.470563,0.621828,-0.254508,-0.724865,-0.360165,53.80,0.0
23856,32954,1.112786,0.062772,1.481419,2.922471,-0.905121,0.366357,-0.670663,0.256586,0.599399,...,0.010125,0.346740,-0.117334,0.416103,0.586102,0.216021,0.042710,0.024984,0.00,0.0
23857,32954,-0.264220,1.107046,0.985544,0.346904,1.121035,0.069275,1.307409,-0.681733,0.346650,...,-0.159083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [12]:
#first 5 row of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [13]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
29794,35633,0.786689,-0.691214,-0.329291,0.149435,0.714779,1.949061,-0.136906,0.474172,0.206173,...,-0.165285,-0.793473,-0.030110,-2.358519,-0.096468,0.332321,-0.001435,0.025559,200.00,0.0
29795,35633,0.800996,-2.159993,0.008378,-1.081828,-1.768799,-0.445016,-0.571165,-0.162429,-1.785636,...,0.016930,-0.350492,-0.234889,0.062628,0.163018,-0.212022,-0.024151,0.077021,363.00,0.0
29796,35633,1.115726,-0.472602,0.983034,0.294673,-1.218768,-0.341755,-0.667340,0.171155,0.805427,...,0.104463,0.366801,-0.073219,0.623597,0.247275,1.121835,-0.060566,0.003541,36.92,0.0
29797,35634,1.239103,-1.000617,0.843324,-0.560021,-1.400343,-0.151696,-1.026058,-0.001637,-0.131138,...,0.325954,0.855203,-0.245683,-0.072671,0.512799,-0.023495,0.036574,0.035202,91.00,0.0
29798,35634,1.374193,-0.720679,0.891375,-0.541402,-1.700000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#credit card information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29799 entries, 0 to 29798
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    29799 non-null  int64
 1   V1      29799 non-null  float64
 2   V2      29799 non-null  float64
 3   V3      29799 non-null  float64
 4   V4      29799 non-null  float64
 5   V5      29799 non-null  float64
 6   V6      29798 non-null  float64
 7   V7      29798 non-null  float64
 8   V8      29798 non-null  float64
 9   V9      29798 non-null  float64
 10  V10     29798 non-null  float64
 11  V11     29798 non-null  float64
 12  V12     29798 non-null  float64
 13  V13     29798 non-null  float64
 14  V14     29798 non-null  float64
 15  V15     29798 non-null  float64
 16  V16     29798 non-null  float64
 17  V17     29798 non-null  float64
 18  V18     29798 non-null  float64
 19  V19     29798 non-null  float64
 20  V20     29798 non-null  float64
 21  V21     29798 non-null  float64
 22  V22     29798 non-null  float64
 23  V23     29798 non-null  float64
 24  V24     29798 non-null  float64
 25  V25     29798 non-null  float64
 26  V26     29798 non-null  float64
 27  V27     29798 non-null  float64
 28  V28     29798 non-null  float64
 29  Amount  29798 non-null  float64
 30  Class   29798 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 7.0 MB

In [15]:
#checking number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [16]:
#distribution of legit transection and fraudulent transection
credit_card_data['Class'].value_counts()

0.0    29704
1.0       94
Name: Class, dtype: int64

this dataset is highly unbalanced 
0---> represent normal transection
1---> represent froud transection

In [17]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [18]:
print(legit.shape)
print(fraud.shape)

(29704, 31)
(94, 31)

In [19]:
#statistical measures of the data
legit.Amount.describe()

count    29704.000000
mean        79.570030
std        221.991154
min          0.000000
25%          6.637500
50%         20.000000
75%         70.652500
max       7879.420000
Name: Amount, dtype: float64

In [20]:
fraud.Amount.describe()

count      94.000000
mean       95.590000
std       257.920621
min         0.000000
25%         1.000000
50%         1.050000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [21]:
#compare the value for both transection
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,21422.566422,-0.184395,0.106639,0.759413,0.194690,-0.186422,0.096790,-0.096841,0.018203,0.361273,...,0.044000,-0.035795,-0.122933,-0.041017,0.010051,0.131937,0.022275,0.009773,0.004475,79.57003
1.0,19007.702128,-8.099702,6.084984,-11.565958,6.014185,-5.681925,-2.370349,-7.912202,4.043743,-2.891421,...,0.679513,0.573983,-0.380899,-0.338752,-0.258204,0.352443,0.183181,0.830627,0.101053,95.59000

In [ ]:
#under sampling

In [22]:
legit_sample = legit.sample(n=88)

concatenating two dataFrames

In [24]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [25]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
27523,34586,0.873330,-0.496361,-0.556216,0.845966,0.485668,0.957177,0.137741,0.182613,-0.075003,...,0.152003,-0.003497,-0.478023,-1.715780,0.701945,-0.180502,-0.014607,0.025009,209.03,0.0
15754,27193,1.256261,0.353257,0.305806,0.693693,-0.373350,-1.073772,0.085657,-0.202917,0.034988,...,-0.287781,-0.831244,0.129571,0.344917,0.215510,0.094458,-0.023182,0.030790,1.79,0.0
22702,32390,1.236716,0.183920,0.155250,0.513764,-0.289150,-0.594424,-0.129356,0.053017,0.030898,...,-0.276013,-0.905864,0.094716,-0.085031,0.178178,0.102914,-0.037387,0.013838,1.29,0.0
15075,26421,-2.643456,0.619601,1.467486,0.881079,-0.601051,-0.617768,1.600468,-0.641533,0.840456,...,-0.794387,-0.772071,-0.374909,0.687194,0.333647,-0.570529,0.711426,0.395549,258.33,0.0
26761,34238,-0.177506,0.165280,1.340050,-1.516275,-0.561445,-0.687736,0.351213,-0.085494,0.963280,...,0.225405,0.941414,0.090172,0.503992,-0.771882,-0.143697,0.245805,0.206243,42.31,0.0

In [26]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
27362,34521,1.081234,0.416414,0.862919,2.520863,-0.005021,0.563341,-0.123372,0.223122,-0.673598,...,-0.159387,-0.305154,0.053620,0.011761,0.375146,-0.106299,0.021008,0.010559,1.52,1.0
27627,34634,0.333499,1.699873,-2.596561,3.643945,-0.585068,-0.654659,-2.275789,0.675229,-2.042416,...,0.469212,-0.144363,-0.317981,-0.769644,0.807855,0.228164,0.551002,0.305473,18.96,1.0
27738,34684,-2.439237,2.591458,-2.840126,1.286244,-1.777016,-1.436139,-2.206056,-2.282725,-0.292885,...,1.774460,-0.771390,0.065727,0.103916,-0.057578,0.242652,-0.268649,-0.743713,125.30,1.0
27749,34687,-0.860827,3.131790,-5.052968,5.420941,-2.494141,-1.811287,-5.479117,1.189472,-3.908206,...,1.192694,0.090356,-0.341881,-0.215924,1.053032,0.271139,1.373300,0.691195,19.02,1.0
29687,35585,-2.019001,1.491270,0.005222,0.817253,0.973252,-0.639268,-0.974073,-3.146929,-0.003159,...,2.839596,-1.185443,-0.142812,-0.086103,-0.329113,0.523601,0.626283,0.152440,0.76,1.0

In [27]:
new_dataset['Class'].value_counts()

1.0    94
0.0    88
Name: Class, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,20972.034091,-0.174770,0.223375,0.876842,0.240954,-0.237490,-0.008347,-0.055412,0.132184,0.474708,...,0.087260,-0.015221,-0.062163,-0.011815,0.050820,0.092553,0.031233,0.017104,0.011465,70.971932
1.0,19007.702128,-8.099702,6.084984,-11.565958,6.014185,-5.681925,-2.370349,-7.912202,4.043743,-2.891421,...,0.679513,0.573983,-0.380899,-0.338752,-0.258204,0.352443,0.183181,0.830627,0.101053,95.590000

Splitting the data into features and targets

In [29]:
X= new_dataset.drop(columns='Class',axis=1)
y = new_dataset['Class']

In [30]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
27523  34586  0.873330 -0.496361 -0.556216  0.845966  0.485668  0.957177
15754  27193  1.256261  0.353257  0.305806  0.693693 -0.373350 -1.073772
22702  32390  1.236716  0.183920  0.155250  0.513764 -0.289150 -0.594424
15075  26421 -2.643456  0.619601  1.467486  0.881079 -0.601051 -0.617768
26761  34238 -0.177506  0.165280  1.340050 -1.516275 -0.561445 -0.687736
...      ...       ...       ...       ...       ...       ...       ...
27362  34521  1.081234  0.416414  0.862919  2.520863 -0.005021  0.563341
27627  34634  0.333499  1.699873 -2.596561  3.643945 -0.585068 -0.654659
27738  34684 -2.439237  2.591458 -2.840126  1.286244 -1.777016 -1.436139
27749  34687 -0.860827  3.131790 -5.052968  5.420941 -2.494141 -1.811287
29687  35585 -2.019001  1.491270  0.005222  0.817253  0.973252 -0.639268

             V7        V8        V9  ...       V20       V21       V22  \
27523  0.137741  0.182613 -0.075003  ...  0.264763  0.152003 -0.003497
15754  0.085657 -0.202917  0.034988  ... -0.081815 -0.287781 -0.831244
22702 -0.129356  0.053017  0.030898  ... -0.159368 -0.276013 -0.905864
15075  1.600468 -0.641533  0.840456  ...  0.214453 -0.794387 -0.772071
26761  0.351213 -0.085494  0.963280  ...  0.149583  0.225405  0.941414
...         ...       ...       ...  ...       ...       ...       ...
27362 -0.123372  0.223122 -0.673598  ... -0.165249 -0.159387 -0.305154
27627 -2.275789  0.675229 -2.042416  ...  0.329342  0.469212 -0.144363
27738 -2.206056 -2.282725 -0.292885  ...  0.513530  1.774460 -0.771390
27749 -5.479117  1.189472 -3.908206  ...  1.085760  1.192694  0.090356
29687 -0.974073 -3.146929 -0.003159  ... -1.029965  2.839596 -1.185443

            V23       V24       V25       V26       V27       V28  Amount
27523 -0.478023 -1.715780  0.701945 -0.180502 -0.014607  0.025009  209.03
15754  0.129571  0.344917  0.215510  0.094458 -0.023182  0.030790    1.79
22702  0.094716 -0.085031  0.178178  0.102914 -0.037387  0.013838    1.29
15075 -0.374909  0.687194  0.333647 -0.570529  0.711426  0.395549  258.33
26761  0.090172  0.503992 -0.771882 -0.143697  0.245805  0.206243   42.31
...         ...       ...       ...       ...       ...       ...     ...
27362  0.053620  0.011761  0.375146 -0.106299  0.021008  0.010559    1.52
27627 -0.317981 -0.769644  0.807855  0.228164  0.551002  0.305473   18.96
27738  0.065727  0.103916 -0.057578  0.242652 -0.268649 -0.743713  125.30
27749 -0.341881 -0.215924  1.053032  0.271139  1.373300  0.691195   19.02
29687 -0.142812 -0.086103 -0.329113  0.523601  0.626283  0.152440    0.76

[182 rows x 30 columns]

In [31]:
print(y)

27523    0.0
15754    0.0
22702    0.0
15075    0.0
26761    0.0
        ...
27362    1.0
27627    1.0
27738    1.0
27749    1.0
29687    1.0
Name: Class, Length: 182, dtype: float64

split the data into training data and testing data

In [33]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.2, stratify = y, random_state=2 )

In [34]:
print(X.shape, X_train.shape,X_test.shape)

(182, 30) (145, 30) (37, 30)

Model training

logestic regression

In [35]:
model = LogisticRegression()

In [39]:
#training the logistic regresision model with training data
model.fit(X_train , y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

model evaluation

accuracy score

In [40]:
#accuracy on the training data
X_train_prediction = model.predict(X_train)

In [41]:
training_data_accuracy = accuracy_score(X_train_prediction,y_train)

In [42]:
print("the accuracy of training data is : ", training_data_accuracy)

the accuracy of training data is :  0.9862068965517241

In [43]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,y_test)

In [44]:
print("The accuracy of Test data is :", test_data_accuracy)

The accuracy of Test data is : 0.918918918918919